# Ignore data folder
data/
_data/
**/.DS_Store
.idea
install_tpot.log
*.crt
*.key

#ignore custom pages added for snare
docker/tanner/snare/dist/pages/acces/*
docker/tanner/snare/dist/pages/AccesFull/*
docker/tanner/snare/dist/pages/custom/*
