# Ignore data folder
data/
_data/
data_backup/
**/.DS_Store
.idea
install_tpot.log
.env
AGENTS.md
*.crt
*.key

#ignore custom pages added for snare
docker/tanner/snare/dist/pages/acces/*
docker/tanner/snare/dist/pages/AccesFull/*
docker/tanner/snare/dist/pages/custom/*
